<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<!--
# DEBUG级别日志
面向人员：开发者
输出：控制台
输出内容：操作痕迹。如调用WebAPI的记录、关键方法的执行。
# INFO级别日志
面向人员：数据中心
输出：数据仓库
输出内容：与用户行为有关的信息。框架日志不输出到数据仓库。
注意：数据必须进行脱敏！
# WARN级别日志（4xx）
面向人员：系统运维
输出：数据库、文件
输出内容：用户危险操作，系统告警。框架日志不输出到文件。数据库定期清理超过12个月的操作日志。
# ERROR级别日志（5xx）
面向人员：开发、运维
输出：数据库
输出内容：系统逻辑错误信息。数据库定期清理超过15天的操作日志。
-->
<configuration>
    <!-- 日志路径格式：$CLASSPATH/logs/${appName}-${level}.log.${yyyy-MM-dd} -->
</configuration>
